html {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: gray;
  }
  
  .timer {
    font-weight: bold;
    font-size: 6em;
    border: 5px solid rgb(196, 255, 255);
    border-radius: 10px;
    width: 500px;
    height: 200px;
    text-align: center;
    padding-top: 70px;
  }