html {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: gray;
  }
  
  .timer {
    font-weight: bold;
    font-size: 4em;
  }